body {
  font-family: "Raleway", sans-serif;
  background-color: #373a3c;
}

.text-color{
  color: #bdbdbd;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero2.jpg");
  opacity: 55%;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height:initial ;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contac-to-me{
  font-weight: 700;
}

@media (max-width: 768px) {

  #Hero-Section{
    background-image: url("../img/bg-hero2.jpg");
    opacity: 55%;
    background-repeat: no-repeat;
    background-size: auto;
    width: auto;
    background-position: center;
  }

  #Hero-Section, h1{
    padding-top: 50px;
    text-align: center;
    /* color: blue; */
  }

  #Hero-Section, p{
    /* padding-top: 200px; */
    text-align: center;
  }

  #Hero-Section .btn{
    /* margin-top: 200px; */
    justify-content: center;
  }

  #Contac-to-me{
    font-weight: 400;
  }

  .navbar-brand{
    width: 250px;
  }

}